@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 72, 9);
  color: #fff;
  font-family: "Poppins", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: rgb(91, 125, 114);
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(143, 102, 199, 0.05),
    0 13px 32px rgba(0, 0, 0, 0.2);
}

.user-form input::placeholder {
  color: rgb(241, 238, 238);
}
.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: rgb(91, 125, 114);
  border-radius: 18px;
  box-shadow: 0 5px 10px rgba(143, 102, 199, 0.05),
    0 13px 32px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 3rem;
  margin: 0 1.6rem;
}

.italics {
  font-style: italic;
  font-size: smaller;
}

.profile-pic {
  border-radius: 50%;
  border: 5px solid rgb(3, 72, 9);
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2.5rem;
}

.user-info h2 {
  margin-top: 0;
}
.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
  margin-bottom: 0.5rem;
}
.user-info ul li {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.4rem;
}
.repo {
  color: #fff;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: rgb(3, 72, 9);
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  display: inline-block;
}
.repo:hover {
  transform: scale(0.95);
}
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-form {
    max-width: 370px;
  }
}
